<!DOCTYPE html><html><head><meta http-equiv="Content-type" content="text/html; charset=UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><link rel="stylesheet" href="/_autoindex/assets/css/autoindex.css" /><script src="/_autoindex/assets/js/tablesort.js"></script><script src="/_autoindex/assets/js/tablesort.number.js"></script><title>Index of /html/iori/demos/assets/imgs/template/icons/</title></head>
<body><div class="content"><h1>Index of /html/iori/demos/assets/imgs/template/icons/</h1>
<div id="table-filter"><input type="text" name="keyword" id="filter-keyword" placeholder="Filter Name"></div>
<div id="table-list"><table id="table-content"><thead class="t-header"><tr><th class="colname" aria-sort="descending"><a class="name" href="?NA"  onclick="return false"">Name</a></th><th class="colname" data-sort-method="number"><a href="?MA"  onclick="return false"">Last Modified</a></th><th class="colname" data-sort-method="number"><a href="?SA"  onclick="return false"">Size</a></th></tr></thead>
<tr data-sort-method="none"><td><a href="/html/iori/demos/assets/imgs/template/"><img class="icon" src="/_autoindex/assets/icons/corner-left-up.svg" alt="Up">Parent Directory</a></td><td></td><td></td></tr>
<tr><td data-sort="youtube.svg"><a href="/html/iori/demos/assets/imgs/template/icons/youtube.svg"><img class="icon" src="/_autoindex/assets/icons/image.svg" alt="[IMG]">youtube.svg</a></td><td data-sort="1679091172">2023-03-17 22:12</td><td data-sort="2935">      3k</td></tr>
<tr><td data-sort="tw.svg"><a href="/html/iori/demos/assets/imgs/template/icons/tw.svg"><img class="icon" src="/_autoindex/assets/icons/image.svg" alt="[IMG]">tw.svg</a></td><td data-sort="1679091172">2023-03-17 22:12</td><td data-sort="2978">      3k</td></tr>
<tr><td data-sort="star.svg"><a href="/html/iori/demos/assets/imgs/template/icons/star.svg"><img class="icon" src="/_autoindex/assets/icons/image.svg" alt="[IMG]">star.svg</a></td><td data-sort="1679091172">2023-03-17 22:12</td><td data-sort="1000">      1k</td></tr>
<tr><td data-sort="star-gray.svg"><a href="/html/iori/demos/assets/imgs/template/icons/star-gray.svg"><img class="icon" src="/_autoindex/assets/icons/image.svg" alt="[IMG]">star-gray.svg</a></td><td data-sort="1679091172">2023-03-17 22:12</td><td data-sort="1002">      1k</td></tr>
<tr><td data-sort="inst.svg"><a href="/html/iori/demos/assets/imgs/template/icons/inst.svg"><img class="icon" src="/_autoindex/assets/icons/image.svg" alt="[IMG]">inst.svg</a></td><td data-sort="1679091172">2023-03-17 22:12</td><td data-sort="1570">      2k</td></tr>
<tr><td data-sort="in.svg"><a href="/html/iori/demos/assets/imgs/template/icons/in.svg"><img class="icon" src="/_autoindex/assets/icons/image.svg" alt="[IMG]">in.svg</a></td><td data-sort="1679091172">2023-03-17 22:12</td><td data-sort="2383">      3k</td></tr>
<tr><td data-sort="fr.png"><a href="/html/iori/demos/assets/imgs/template/icons/fr.png"><img class="icon" src="/_autoindex/assets/icons/image.svg" alt="[IMG]">fr.png</a></td><td data-sort="1679091172">2023-03-17 22:12</td><td data-sort="212">      1k</td></tr>
<tr><td data-sort="fb.svg"><a href="/html/iori/demos/assets/imgs/template/icons/fb.svg"><img class="icon" src="/_autoindex/assets/icons/image.svg" alt="[IMG]">fb.svg</a></td><td data-sort="1679091172">2023-03-17 22:12</td><td data-sort="1607">      2k</td></tr>
<tr><td data-sort="en.png"><a href="/html/iori/demos/assets/imgs/template/icons/en.png"><img class="icon" src="/_autoindex/assets/icons/image.svg" alt="[IMG]">en.png</a></td><td data-sort="1679091172">2023-03-17 22:12</td><td data-sort="724">      1k</td></tr>
<tr><td data-sort="cn.png"><a href="/html/iori/demos/assets/imgs/template/icons/cn.png"><img class="icon" src="/_autoindex/assets/icons/image.svg" alt="[IMG]">cn.png</a></td><td data-sort="1679091172">2023-03-17 22:12</td><td data-sort="342">      1k</td></tr>
<tr><td data-sort="arrow-down.svg"><a href="/html/iori/demos/assets/imgs/template/icons/arrow-down.svg"><img class="icon" src="/_autoindex/assets/icons/image.svg" alt="[IMG]">arrow-down.svg</a></td><td data-sort="1679091172">2023-03-17 22:12</td><td data-sort="239">      1k</td></tr>
<tr><td data-sort="angle-down.svg"><a href="/html/iori/demos/assets/imgs/template/icons/angle-down.svg"><img class="icon" src="/_autoindex/assets/icons/image.svg" alt="[IMG]">angle-down.svg</a></td><td data-sort="1679091172">2023-03-17 22:12</td><td data-sort="228">      1k</td></tr>
</table></div>
<address>Proudly Served by LiteSpeed Web Server at wp.alithemes.com Port 443</address></div><script>
	new Tablesort(document.getElementById("table-content"));
	var keywordInput = document.getElementById('filter-keyword');
	document.addEventListener('keyup', filterTable);

	function filterTable(e) {
		if (e.target.id != 'filter-keyword') return;

		var cols = document.querySelectorAll('tbody td:first-child');
		var keyword = keywordInput.value.toLowerCase();
		for (i = 0; i < cols.length; i++) {
			var text = cols[i].textContent.toLowerCase();
			if (text != 'parent directory') {
				cols[i].parentNode.style.display = text.indexOf(keyword) === -1 ? 'none' : 'table-row';
			}
		}
	}
</script></body></html>
